*.sav
Zusammenfassung_DA.docx
*.csv
*.js
*.xlsx
HT 2011.pdf
*.spv
*.sgt
*.ppt
logfiles.zip
pilot_PrepSwitch*
LMM_J14.R~
LMM_J14.R
*.dat
*.zip
*.mat
*.R~
*.kate-swp
*.sas7bdat
*.RData
Observed gaze article.docx
Observed gaze article LMM.docx
Relevante Mails Rike.docx
Zusammenfassung_DA.docx
